:host,
html {
  --font-fallback: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -moz-tab-size: 4;
  tab-size: 4;
  -webkit-tap-highlight-color: transparent;
  line-height: 1.5;
  font-family: var(--global-font-body, var(--font-fallback));
}
*,
::backdrop,
::file-selector-button,
:after,
:before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  border-width: 0px;
  border-style: solid;
  border-color: var(--global-color-border, currentColor);
}
hr {
  height: 0px;
  color: inherit;
  border-top-width: 1px;
}
body {
  height: 100%;
  line-height: inherit;
}
img {
  border-style: none;
}
audio,
canvas,
embed,
iframe,
img,
object,
svg,
video {
  display: block;
  vertical-align: middle;
}
img,
video {
  max-width: 100%;
  height: auto;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
  font-size: inherit;
  font-weight: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  overflow-wrap: break-word;
}
menu,
ol,
ul {
  list-style: none;
}
::file-selector-button,
button,
input:where([type="button"], [type="reset"], [type="submit"]) {
  appearance: button;
  -webkit-appearance: button;
}
::file-selector-button,
button,
input,
optgroup,
select,
textarea {
  font: inherit;
  font-feature-settings: inherit;
  font-variation-settings: inherit;
  letter-spacing: inherit;
  color: inherit;
  background: transparent;
}
::placeholder {
  opacity: 1;
  --placeholder-fallback: color-mix(in srgb, currentColor 50%, transparent);
  color: var(--global-color-placeholder, var(--placeholder-fallback));
}
textarea {
  resize: vertical;
}
table {
  text-indent: 0px;
  border-collapse: collapse;
  border-color: inherit;
}
summary {
  display: list-item;
}
small {
  font-size: 80%;
}
sub,
sup {
  position: relative;
  vertical-align: baseline;
  font-size: 75%;
  line-height: 0;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
dialog {
  padding: 0px;
}
a {
  color: inherit;
  text-decoration: inherit;
}
abbr:where([title]) {
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
pre,
samp {
  --font-mono-fallback: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New";
  font-feature-settings: normal;
  font-variation-settings: normal;
  font-family: var(--global-font-mono, var(--font-mono-fallback));
  font-size: 1em;
}
progress {
  vertical-align: baseline;
}
::-webkit-search-cancel-button,
::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}
:-moz-ui-invalid {
  box-shadow: none;
}
:-moz-focusring {
  outline: auto;
}
[hidden]:not(#\#):not(#\#):not(#\#):not(#\#):not(#\#) {
  display: none !important;
}
body:not(#\#) {
  div: border-box;
  button: border-box;
}
:where(:root, :host):not(#\#):not(#\#) {
  --colors-red-50: #fdeceb;
  --colors-red-100: #fbd9d7;
  --colors-red-150: #f9c7c2;
  --colors-red-200: #f7b4ae;
  --colors-red-300: #f28e86;
  --colors-red-400: #ee695d;
  --colors-red-500: #ea4335;
  --colors-red-600: #bb362a;
  --colors-red-700: #8c2820;
  --colors-red-800: #5e1b15;
  --colors-red-850: #461410;
  --colors-red-900: #2f0d0b;
  --colors-red-950: #170705;
  --colors-blue-50: #ebf4fe;
  --colors-blue-100: #d7e9fd;
  --colors-blue-150: #c3ddfd;
  --colors-blue-200: #afd2fc;
  --colors-blue-300: #86bcfa;
  --colors-blue-400: #5ea5f9;
  --colors-blue-500: #368ff7;
  --colors-blue-600: #2b72c6;
  --colors-blue-700: #205694;
  --colors-blue-800: #163963;
  --colors-blue-850: #102b4a;
  --colors-blue-900: #0b1d31;
  --colors-blue-950: #050e19;
  --colors-yellow-50: #fef7e6;
  --colors-yellow-100: #feeecc;
  --colors-yellow-150: #fde6b3;
  --colors-yellow-200: #fddd99;
  --colors-yellow-300: #fbcd66;
  --colors-yellow-400: #fabc33;
  --colors-yellow-500: #f9ab00;
  --colors-yellow-600: #c78900;
  --colors-yellow-700: #956700;
  --colors-yellow-800: #644400;
  --colors-yellow-850: #4b3300;
  --colors-yellow-900: #322200;
  --colors-yellow-950: #191100;
  --colors-green-50: #ebf6ee;
  --colors-green-100: #d6eedd;
  --colors-green-150: #c2e5cb;
  --colors-green-200: #aedcba;
  --colors-green-300: #85cb98;
  --colors-green-400: #5db975;
  --colors-green-500: #34a853;
  --colors-green-600: #2a8642;
  --colors-green-700: #1f6532;
  --colors-green-800: #154321;
  --colors-green-850: #103219;
  --colors-green-900: #0a2211;
  --colors-green-950: #051108;
  --colors-mono-50: #f7f7f7;
  --colors-mono-100: #f0f0f0;
  --colors-mono-150: #e8e8e8;
  --colors-mono-200: #e1e1e1;
  --colors-mono-300: #d1d1d1;
  --colors-mono-400: #c2c2c2;
  --colors-mono-500: #b3b3b3;
  --colors-mono-600: #8f8f8f;
  --colors-mono-700: #6b6b6b;
  --colors-mono-800: #484848;
  --colors-mono-900: #242424;
  --colors-mono-950: #121212;
  --colors-white: #ffffff;
  --colors-black: #000000;
  --colors-primary: #368ff7;
  --colors-success: #2a8642;
  --colors-error: #bb362a;
  --colors-background-normal: #ffffff;
  --colors-background-alternative: #f7f7f7;
  --colors-background-dimmer: rgba(0, 0, 0, 0.8);
  --colors-sub: #6b6b6b;
  --colors-outline: #c2c2c2;
  --colors-text-black: #121212;
  --colors-text-white: #ffffff;
  --colors-dark-disabled: #c2c2c2;
  --colors-light-disabled: #e1e1e1;
  --colors-blue-hover: #2b72c6;
  --colors-mono-hover: #121212;
  --colors-elevated-hover: rgba(16, 43, 74, 0.2);
  --colors-blue-pressed: #5ea5f9;
  --colors-blue-background-pressed: #ebf4fe;
  --colors-mono-background-pressed: #f7f7f7;
  --colors-shadow-small: rgba(0, 0, 0, 0.1);
  --colors-shadow-medium: rgba(0, 0, 0, 0.2);
  --colors-blue-shadow: rgba(16, 43, 74, 0.2);
  --colors-discord: #5566fb;
  --colors-github: #000000;
  --colors-secondary-yellow: #f9ab00;
  --colors-secondary-green: #34a853;
  --colors-secondary-red: #ea4335;
  --colors-error-background: #fbd9d7;
  --colors-blue-disabled: #d7e9fd;
  --colors-text-blue-disabled: #afd2fc;
}
.text_blue\.50:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-50);
}
.text_blue\.100:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-100);
}
.text_blue\.150:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-150);
}
.text_blue\.200:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-200);
}
.text_blue\.300:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-300);
}
.text_blue\.400:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-400);
}
.text_blue\.500:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-500);
}
.text_blue\.600:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-600);
}
.text_blue\.700:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-700);
}
.text_blue\.800:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-800);
}
.text_blue\.850:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-850);
}
.text_blue\.900:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-900);
}
.text_blue\.950:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-950);
}
.text_yellow\.50:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-yellow-50);
}
.text_yellow\.100:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-yellow-100);
}
.text_yellow\.150:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-yellow-150);
}
.text_yellow\.200:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-yellow-200);
}
.text_yellow\.300:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-yellow-300);
}
.text_yellow\.400:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-yellow-400);
}
.text_yellow\.500:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-yellow-500);
}
.text_yellow\.600:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-yellow-600);
}
.text_yellow\.700:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-yellow-700);
}
.text_yellow\.800:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-yellow-800);
}
.text_yellow\.850:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-yellow-850);
}
.text_yellow\.900:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-yellow-900);
}
.text_yellow\.950:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-yellow-950);
}
.text_green\.50:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-green-50);
}
.text_green\.100:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-green-100);
}
.text_green\.150:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-green-150);
}
.text_green\.200:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-green-200);
}
.text_green\.300:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-green-300);
}
.text_green\.400:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-green-400);
}
.text_green\.500:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-green-500);
}
.text_green\.600:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-green-600);
}
.text_green\.700:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-green-700);
}
.text_green\.800:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-green-800);
}
.text_green\.850:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-green-850);
}
.text_green\.900:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-green-900);
}
.text_green\.950:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-green-950);
}
.text_red\.50:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-red-50);
}
.text_red\.100:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-red-100);
}
.text_red\.150:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-red-150);
}
.text_red\.200:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-red-200);
}
.text_red\.300:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-red-300);
}
.text_red\.400:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-red-400);
}
.text_red\.500:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-red-500);
}
.text_red\.600:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-red-600);
}
.text_red\.700:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-red-700);
}
.text_red\.800:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-red-800);
}
.text_red\.850:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-red-850);
}
.text_red\.900:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-red-900);
}
.text_red\.950:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-red-950);
}
.text_mono\.50:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-mono-50);
}
.text_mono\.100:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-mono-100);
}
.text_mono\.150:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-mono-150);
}
.text_mono\.200:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-mono-200);
}
.text_mono\.300:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-mono-300);
}
.text_mono\.400:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-mono-400);
}
.text_mono\.500:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-mono-500);
}
.text_mono\.600:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-mono-600);
}
.text_mono\.700:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-mono-700);
}
.text_mono\.800:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-mono-800);
}
.text_mono\.850:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: mono.850;
}
.text_mono\.900:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-mono-900);
}
.text_mono\.950:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-mono-950);
}
.text_white:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-white);
}
.text_black:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-black);
}
.text_whiteOpacity\.20:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: whiteOpacity.20;
}
.text_whiteOpacity\.40:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: whiteOpacity.40;
}
.text_whiteOpacity\.60:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: whiteOpacity.60;
}
.text_whiteOpacity\.80:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: whiteOpacity.80;
}
.text_blackOpacity\.20:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: blackOpacity.20;
}
.text_blackOpacity\.40:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: blackOpacity.40;
}
.text_blackOpacity\.60:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: blackOpacity.60;
}
.text_blackOpacity\.80:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: blackOpacity.80;
}
.text_primary:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-primary);
}
.text_success:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-success);
}
.text_error:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-error);
}
.text_backgroundNormal:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-background-normal);
}
.text_backgroundAlternative:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-background-alternative);
}
.text_backgroundDimmer:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-background-dimmer);
}
.text_errorBackground:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-error-background);
}
.text_sub:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-sub);
}
.text_outline:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-outline);
}
.text_textBlack:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-text-black);
}
.text_textWhite:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-text-white);
}
.text_darkDisabled:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-dark-disabled);
}
.text_lightDisabled:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-light-disabled);
}
.text_blueDisabled:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-disabled);
}
.text_textBlueDisabled:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-text-blue-disabled);
}
.text_blueHover:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-hover);
}
.text_monoHover:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-mono-hover);
}
.text_elevatedHover:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-elevated-hover);
}
.text_bluePressed:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-pressed);
}
.text_blueBackgroundPressed:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-background-pressed);
}
.text_monoBackgroundPressed:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-mono-background-pressed);
}
.text_shadowSmall:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-shadow-small);
}
.text_shadowMedium:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-shadow-medium);
}
.text_blueShadow:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-blue-shadow);
}
.text_discord:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-discord);
}
.text_github:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-github);
}
.text_secondaryYellow:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-secondary-yellow);
}
.text_secondaryGreen:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-secondary-green);
}
.text_secondaryRed:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: var(--colors-secondary-red);
}
.text_blueGradientDark:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: blueGradientDark;
}
.text_blueGradientLight:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: blueGradientLight;
}
.text_redGradientDark:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: redGradientDark;
}
.text_redGradientLight:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: redGradientLight;
}
.text_greenGradientDark:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: greenGradientDark;
}
.text_greenGradientLight:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: greenGradientLight;
}
.text_yellowGradientDark:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: yellowGradientDark;
}
.text_yellowGradientLight:not(#\#):not(#\#):not(#\#):not(#\#) {
  color: yellowGradientLight;
}